* {
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.number {
  font-size: 4em;
  color: #fff;
  background-color: #000;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
  border-radius: 10px;
}

.icon {
  font-size: 3em;
  color: #fff;
  padding-top: 3%;
  margin: 1%;
}

.number-six-digits {
 color: aqua;
}